<div class="animated fadeIn">
  <!--/.card-->
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add User</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <label class="col-form-label">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid': form.email.touched && form.email.errors
                }"
              />
              <div
                *ngIf="form.email.touched && form.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="form.email.errors.required">Email is required</div>
                <div *ngIf="form.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-row">
              <label class="col-form-label">UserName</label>
              <input
                type="text"
                formControlName="userName"
                class="form-control"
                [ngClass]="{
                  'is-invalid': form.userName.touched && form.userName.errors
                }"
              />
              <div
                *ngIf="form.userName.touched && form.userName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="form.userName.errors.required">
                  User Name is required
                </div>
                <div *ngIf="form.userName.errors.userName">
                  User Name must be a valid
                </div>
              </div>
            </div>
            <div class="form-row">
              <label class="col-form-label">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': form.password.touched && form.password.errors
                }"
              />
              <div
                *ngIf="form.password.touched && form.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="form.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="form.password.errors.password">
                  Password must be a Strong or 8 Charactor.
                </div>
              </div>
            </div>

            <div class="form-row">
              <label class="col-form-label" for="phone">Phone </label>
              <input
                type="text"
                formControlName="phone"
                class="form-control"
                [ngClass]="{
                  'is-invalid': form.phone.touched && form.phone.errors
                }"
              />
              <div
                *ngIf="form.phone.touched && form.phone.errors"
                class="invalid-feedback"
              >
                <div *ngIf="form.phone.errors.required">phone is required</div>
              </div>
            </div>

            <div class="form-row" style="margin-top: 30px;">
              <button
                type="submit"
                class="btn btn-block btn-primary"
                style="width: 120px;"
                [disabled]="userForm.invalid"
              >
                Submit
              </button>
              <button
                type="reset"
                style="width: 120px; height: 35px; margin-left: 30px;"
                class="btn btn-sm btn-danger"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
