.autoScroll {
  position: relative;
  max-height: 600px;
  min-height: 500px;
}
.sticky-header {
  background: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}
th {
  background: white;
  position: sticky;
  top: -1px; /* Don't forget this, required for the stickiness */
}

.col-name {
  width: 60px;
}
.col-date {
  width: 100px;
}
.col-ignition {
  width: 60px;
}
.col-milage {
  width: 60px;
}
.col-speed {
  width: 60px;
}
.col-online {
  width: 60px;
}
.col-address {
  width: 100px;
}
.address {
  font-size: 10px;
  color: #000;
  font-weight: bold;
  max-width: 200px;
}
.link {
  cursor: pointer;
}
