<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Device Alarm</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <ag-grid-angular
            style="width: 100%; height: 500px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            (gridReady)="onGridReady($event)"
          >
          </ag-grid-angular>
        </div>
        <div class="col-md-8">
          <div class="card-body" *ngIf="showList">
            <table class="table">
              <thead>
                <tr>
                  <th class="align-baseline">Device ID</th>
                  <th class="align-baseline">Alarm ID</th>
                  <th class="align-baseline">Alarm</th>
                  <th class="align-baseline">Value</th>
                  <th class="align-baseline">Status</th>
                  <th>
                    Actions
                    <span class="float-right" *ngIf="selectedDevice">
                      <a
                        class="card-header-action btn btn-link btn-pencil"
                        type="button"
                        (click)="onBtnClick(action)"
                        *ngFor="let action of defaultActionItem"
                      >
                        <i class="{{ action.iconClass }}"></i>

                        {{ action.label }}</a
                      >
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="selectedDevice && selectedDevice.deviceAlarms">
                <tr
                  [attr.id]="row.deviceAlarmId"
                  *ngFor="let row of selectedDevice.deviceAlarms"
                >
                  <td>{{ row.deviceId }}</td>
                  <td>{{ row.deviceAlarmId }}</td>
                  <td>{{ row.alarmText }}</td>
                  <td>{{ row.value }}</td>
                  <td>{{ row.alarmStatus }}</td>
                  <td>
                    <a
                      class="card-header-action btn btn-link btn-pencil"
                      type="button"
                      (click)="onBtnClick(action, row, row.deviceAlarmId)"
                      *ngFor="let action of actionItems"
                    >
                      <i class="{{ action.iconClass }}"></i>

                      {{ action.label }}</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #modaltemplate>
            <div class="modal-content" style="min-width: 800px">
              <div class="modal-header">
                <h3 class="modal-title pull-left">Add/Edit Alarm</h3>
                <button
                  type="button"
                  class="close pull-right"
                  aria-label="Close"
                  (click)="modalRef.hide()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body" *ngIf="showEdit && selectedDevice">
                  <app-add-alarm
                    [selectedAlarm]="selectedAlarm"
                    [selectedDevice]="selectedDevice"
                    [alarmTypeList]="alarmTypeList"
                    [operatorList]="operatorList"
                    [alarmStatusList]="alarmStatusList"
                    (onAddEditComplete)="updateTable($event)"
                  ></app-add-alarm>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template #confirmTemplate>
            <div class="modal-body text-center">
              <p>Do you want to confirm?</p>
              <button type="button" class="btn btn-default" (click)="confirm()">
                Yes
              </button>
              <button type="button" class="btn btn-primary" (click)="decline()">
                No
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!--/.col-->

  <!--/.row-->
</div>
