<div class="row g-0">
  <div class="col-md-12">
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <thead class="thead-light">
        <tr>
          <th class="vehicle-type"></th>
          <th class="vehicle">Vehicle</th>
          <th>Date/Time</th>
          <th>Speed</th>
          <th>Ignition</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="deviceList">
        <tr *ngFor="let device of deviceList">
          <td class="text-center">
            <img
              src="/assets/img/vehicleType/{{
                device.vehicleType.vehicleTypeId
              }}.svg"
              alt="..."
              height="80px"
            />
          </td>

          <td>
            <div><b>{{ device.name }}</b></div>
            <div class="small text-muted">
              {{ device.geoLocation }}
            </div>
          </td>

          <td>
            {{ device.dateTime | date: "medium" }}
          </td>
          <td>
            <img
              src="../../../assets/img/icon/tachometer-alt-solid.svg"
              height="16px"
              width="16px"
            />
            {{ device.speed }}km/hr
          </td>
          <td class="text-center">
            <p class="card-text">
              <span *ngIf="device.ignition == true"
                ><i class="fa fa-power-off text-success pr-2"></i>ON</span
              >
              <span *ngIf="device.ignition == false"
                ><i class="fa fa-power-off text-danger pr-2"></i>OFF</span
              >
            </p>
          </td>
          <td>
            <div class="small text-muted">
              <button
                type="button"
                class="btn btn-dark float-right mb-2"
                (click)="viewMap(device)"
              >
                Map
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
