<div class="animated fadeIn">
  <!--/.card-->
  <!--/.row-->
  <div *ngIf="formGroup">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <label for="alarmText" class="col-form-label">Alarm</label>
        <input
          type="text"
          formControlName="alarmText"
          class="form-control"
          [ngClass]="{
            'is-invalid': form.alarmText.touched && form.alarmText.errors
          }"
        />
        <div
          *ngIf="form.alarmText.touched && form.alarmText.errors"
          class="invalid-feedback"
        >
          <div *ngIf="form.alarmText.errors.required">Alarm is required</div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label for="AlarmType" class="col-form-label">Alarm Type</label>
          <select
            formControlName="alarmTypeId"
            class="form-control"
            id="AlarmType"
            (change)="changeAlarmType($event)"
            [ngClass]="{
              'is-invalid': form.alarmTypeId.touched && form.alarmTypeId.errors
            }"
          >
            <option value="" disabled>Select a id</option>
            <option
              *ngFor="let alarmType of alarmTypeList"
              [value]="alarmType.alarmTypeId"
            >
              {{ alarmType.name }}
            </option>
          </select>
          <div
            *ngIf="form.alarmTypeId.touched && form.alarmTypeId.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.alarmTypeId.errors.required">
              Alarm id is required
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="alarmStatus" class="col-form-label">Alarm Status</label>
          <select
            formControlName="alarmStatus"
            class="form-control"
            id="alarmStatus"
            (change)="changeAlarmStatus($event)"
            [ngClass]="{
              'is-invalid': form.alarmStatus.touched && form.alarmStatus.errors
            }"
          >
            <option value="" disabled>Select a Status</option>
            <option
              *ngFor="let status of alarmStatusList"
              [value]="status.statusId"
            >
              {{ status.status }}
            </option>
          </select>
          <div
            *ngIf="form.alarmStatus.touched && form.alarmStatus.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.alarmStatus.errors.required">
              Alarm Status is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label for="value" class="col-form-label">Value</label>
          <input
            type="number"
            formControlName="value"
            class="form-control"
            [ngClass]="{
              'is-invalid': form.value.touched && form.value.errors
            }"
          />
          <div
            *ngIf="form.value.touched && form.value.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.value.errors.required">Value is required</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="operatorId" class="col-form-label">Operator</label>
          <select
            formControlName="operatorId"
            class="form-control"
            id="operatorId"
            (change)="changeOperatorId($event)"
            [ngClass]="{
              'is-invalid': form.operatorId.touched && form.operatorId.errors
            }"
          >
            <option value="" disabled>Select a id</option>
            <option
              *ngFor="let operator of operatorList"
              [value]="operator.operatorId"
            >
              {{ operator.operatorName }}
            </option>
          </select>
          <div
            *ngIf="form.alarmTypeId.touched && form.alarmTypeId.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.alarmTypeId.errors.required">
              Alarm id is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <label class="col-form-label">Start Time</label>
          <timepicker
            [formControlName]="'startDate'"
            [hourStep]="true"
            [minuteStep]="true"
            [showSeconds]="true"
          ></timepicker>

          <div *ngIf="form.startDate.errors" class="invalid-feedback">
            <div *ngIf="form.startDate.errors.required">
              Start Time is required
            </div>
            <div *ngIf="form.startDate.errors.startDate">
              Start Time must be a valid
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="col-form-label">End Time</label>
          <timepicker
            [formControlName]="'endDate'"
            [hourStep]="true"
            [minuteStep]="true"
            [showSeconds]="true"
          ></timepicker>
          <div *ngIf="form.endDate.errors" class="invalid-feedback">
            <div *ngIf="form.endDate.errors.required">End Date is required</div>
            <div *ngIf="form.endDate.errors.endDate">
              End Date must be a valid
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="show" class="form-row" style="margin-top: 30px">
        <button
          type="submit"
          class="btn btn-block btn-primary"
          style="width: 120px"
          [disabled]="formGroup.invalid"
        >
          Submit
        </button>
        <button
          type="reset"
          style="width: 120px; height: 35px; margin-left: 30px"
          class="btn btn-sm btn-danger"
        >
          Reset
        </button>
      </div>
      <div *ngIf="!show" class="form-row" style="margin-top: 30px">
        <h4>Coming Soon !!</h4>
      </div>
    </form>
  </div>

  <!--/.row-->
</div>
