<div class="animated fadeIn">
  <!--/.card-->

  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Welcome to GPS UI Dashboard</div>
        <div class="card-body">
          <!-- Widget start -->
          <div class="row">
            <div class="col-6 col-lg-2">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i
                    class="fa fa-car bg-primary p-4 font-2xl mr-1 px-1 float-left"
                  ></i>
                  <div class="h5 text-primary mb-0 pt-3">5</div>
                  <div
                    class="text-muted text-uppercase font-weight-bold font-xs"
                  >
                    Running
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i
                    class="fa fa-car bg-secondry p-4 font-2xl mr-1 px-1 float-left"
                  ></i>
                  <div class="h5 text-primary mb-0 pt-3">5</div>
                  <div
                    class="text-muted text-uppercase font-weight-bold font-xs"
                  >
                    Idle
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i
                    class="fa fa-car bg-info p-4 font-2xl mr-1 px-1 float-left"
                  ></i>
                  <div class="h5 text-primary mb-0 pt-3">5</div>
                  <div
                    class="text-muted text-uppercase font-weight-bold font-xs"
                  >
                    Stopped
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i
                    class="fa fa-car bg-warning p-4 font-2xl mr-1 px-1 float-left"
                  ></i>
                  <div class="h5 text-primary mb-0 pt-3">5</div>
                  <div
                    class="text-muted text-uppercase font-weight-bold font-xs"
                  >
                    Inactive
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i
                    class="fa fa-car bg-success p-4 font-2xl mr-1 px-1 float-left"
                  ></i>
                  <div class="h5 text-primary mb-0 pt-3">5</div>
                  <div
                    class="text-muted text-uppercase font-weight-bold font-xs"
                  >
                    NoData
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-lg-2">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i
                    class="fa fa-car bg-danger p-4 font-2xl mr-1 px-1 float-left"
                  ></i>
                  <div class="h5 text-primary mb-0 pt-3">5</div>
                  <div
                    class="text-muted text-uppercase font-weight-bold font-xs"
                  >
                    Total
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Widget End -->
          <div class="row">
            <div class="col-lg-8">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/assets/img/vehicleType/6.svg" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Maruti Suzuki</h5>
                    <p class="card-text">
                      <i class="fa fa-info-circle ms-1"></i>Info
                    </p>
                    <p class="card-text">
                      <i class="fa fa-battery-full bg-success ms-1"></i>PWR
                    </p>
                    <p class="card-text">
                      <i class="fa fa-power-off"></i>
                    </p>
                    <p class="card-text">
                      <small class="text-muted"
                        >Last updated 21-09-2020 18:34:26</small
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">Map coming soon</div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
