<div class="animated fadeIn">
  <!--/.card-->

  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Welcome to GPS UI Dashboard</div>
        <div class="card-body">
          <!-- Widget start -->
          <app-dashboard-widgets [deviceSummary]="deviceSummary"></app-dashboard-widgets>

          <!-- Widget End -->
          <div class="row">
            <div class="col-lg-12">
              <app-dashboard-filter [deviceList]="deviceList"></app-dashboard-filter>
              <div class="border-bottom" *ngFor="let device of deviceList">
                <app-vehicle-info [deviceinfo]="device"> </app-vehicle-info>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- <google-maps
                [markers]="markers"
                [lat]="deviceSummary.lat"
                [lng]="deviceSummary.lng"
                [zoom]="zoom"
              ></google-maps> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>