<div class="animated fadeIn">
  <!--/.card-->

  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
          <!-- Widget start -->
          <app-dashboard-widgets [deviceSummary]="deviceSummary"></app-dashboard-widgets>

          <!-- Widget End -->
          <div class="row">
            <div [ngClass]="{ 'col-lg-8': viewMap, 'col-lg-12': !viewMap }">
              <app-dashboard-filter [deviceList]="deviceList" (setDeviceFilter)="onSetDeviceFilter($event)">
              </app-dashboard-filter>
              <div class="border-bottom" *ngFor="let device of rows">
                <app-vehicle-info [deviceinfo]="device" (showMap)="onShowMap($event)">
                </app-vehicle-info>
              </div>
            </div>
            <div class="col-lg-4" *ngIf="viewMap">
              <google-maps [markers]="markers" [lat]="deviceSummary.lat" [lng]="deviceSummary.lng" [zoom]="zoom">
              </google-maps>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>