<div class="animated fadeIn">
  <!--/.card-->
  <!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add Device</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <label for="vendor" class="col-form-label">Vendor</label>
              <select formControlName="vendorId" class="form-control" id="vendor" (change)="changeVendor($event)" [ngClass]="{
                'is-invalid': form.vendorId.touched && form.vendorId.errors}">
                <option value="" disabled>Select a Vendor</option> 
                <option *ngFor="let vendor of vendorList" [value]="vendor.vendorId">{{vendor.name}}</option>
              </select>
              <div *ngIf="form.vendorId.touched && form.vendorId.errors"  class="invalid-feedback">
                <div *ngIf="form.vendorId.errors.required">
                  *Please Select Vendor.
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="user" class="col-form-label">User</label>
              <select formControlName="userId" class="form-control" id="user" (change)="changeUser($event)" [ngClass]="{
                'is-invalid': form.userId.touched && form.userId.errors}">
                <option value="" disabled>Select a User</option> 
                <option *ngFor="let user of userList" [value]="user.userId">{{user.companyName}}</option>
              </select>
              <div *ngIf="form.vendorId.touched && form.vendorId.errors"  class="invalid-feedback">
                <div *ngIf="form.vendorId.errors.required">
                  *Please Select User.
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="deviceType" class="col-form-label">Device Type</label>
              <select formControlName="deviceTypeId" class="form-control" id="deviceType" (change)="changeDeviceType($event)" [ngClass]="{
                'is-invalid': form.deviceTypeId.touched && form.deviceTypeId.errors}">
                <option value="" disabled>Select Device Type</option> 
                <option *ngFor="let deviceType of deviceTypeList" [value]="deviceType.deviceTypeId">{{deviceType.name}}</option>
              </select>
              <div *ngIf="form.deviceTypeId.touched && form.deviceTypeId.errors"  class="invalid-feedback">
                <div *ngIf="form.deviceTypeId.errors.required">
                  *Please Select Device Type.
                </div>
              </div>
            </div>
            <div class="form-row">
              <label for="vehicleType" class="col-form-label">Vehicle Type</label>
              <select formControlName="vehicleTypeId" class="form-control" id="vehicleType" (change)="changeVehicleType($event)" [ngClass]="{
                'is-invalid': form.vehicleTypeId.touched && form.vehicleTypeId.errors}">
                <option value="" disabled>Select Vehicle Type</option> 
                <option *ngFor="let vehicleType of vehicleTypeList" [value]="vehicleType.vehicleTypeId">{{vehicleType.name}}</option>
              </select>
              <div *ngIf="form.vehicleTypeId.touched && form.vehicleTypeId.errors"  class="invalid-feedback">
                <div *ngIf="form.vehicleTypeId.errors.required">
                  *Please Select Vehicle type.
                </div>
              </div>
            </div>
            <div class="form-row">
              <label class="col-form-label">Serial Number</label>
              <input
                type="text"
                formControlName="serial"
                pattern="^[0-9 ]*[1-9][0-9 ]*$"
                minlength="10"
                maxlength="30"
                class="form-control"
                [ngClass]="{
                  'is-invalid': form.serial.touched && form.serial.errors
                }"
              />
              <div
                *ngIf="form.serial.touched && form.serial.errors"
                class="invalid-feedback"
              >
              <div *ngIf="form.serial.errors.required">
                *Serial Number is required.
              </div>
              <div *ngIf="form.serial.errors.pattern">
                *Please provide valid Serial Number.
              </div>
              </div>
            </div>
            <div class="form-row">
              <label class="col-form-label">Vehicle Registration Number</label>
              <input
                type="text"
                formControlName="name"
                minlength="2"
                maxlength="100"
                class="form-control"
                [ngClass]="{
                  'is-invalid': form.name.touched && form.name.errors
                }"
              />
              <div
                *ngIf="form.name.touched && form.name.errors"
                class="invalid-feedback"
              >
              <div *ngIf="form.name.errors.required">
                *Name is Required.
              </div>
              <div *ngIf="form.name.errors.pattern">
                *Please provide valid Name.
              </div>
              <div *ngIf="form.name.errors.minlength">
                *Name should contain atleast 2 characters.
              </div>
              </div>
            </div>
         <div class="form-row" style="margin-top: 30px;">
              <button
                type="submit"
                class="btn btn-block btn-primary"
                style="width: 120px;">
                Submit
              </button>
              <button
                type="reset"
                style="width: 120px; height: 35px; margin-left: 30px;"
                class="btn btn-sm btn-danger">
                Reset
              </button>
              <button
                type="button"
                style="width: 120px; height: 35px; margin-left: 60px;"
                class="btn btn-block btn-primary">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
