<app-header [navbarBrandRouterLink]="['/Dashboard']" [fixed]="true" [navbarBrandFull]="{
    src: 'assets/img/brand/logo.png',
    height: 45,
    alt: 'Easy go Logo'
  }" [navbarBrandMinimized]="{
    src: 'assets/img/brand/logo.png',
    height: 30,
    alt: 'Easy go Logo'
  }" [sidebarToggler]="'lg'" [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown d-md-down-none mr-3" placement="bottom right ">
      <a class="nav-link " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        (click)="toggleAside('notification')">
        <i class="icon-bell"></i><span class="badge badge-pill badge-danger ">{{notificationCount}}</span>
      </a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle
        (click)="toggleAside('profile')">
        <div class="avatar">
          <img class="avatar-img" [src]="currentUser?.profilePicture">
        </div>
      </a>
    </li>
    <li class="nav-item dropdown d-md-down-none" placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        [routerLink]="['/logout']">
        <i class="icon-logout"></i>
      </a>
    </li>

  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none"></li>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">
    <tabset>
      <tab [active]="activeAsideTab=='profile'">
        <ng-template tabHeading><i class="icon-user"></i></ng-template>
        <app-profile [user]="currentUser" (onProfileAvatarChange)="handleProfileAvatarChange($event)"></app-profile>
      </tab>
      <tab [active]="activeAsideTab=='notification'">
        <ng-template tabHeading><i class=" icon-speech"></i></ng-template>
        <app-notifications></app-notifications>
      </tab>
      <tab [active]="activeAsideTab=='setting'">
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
      </tab>
    </tabset>
  </app-aside>
</div>
<app-footer>
  <span><a href="#">Easy go</a> &copy; 2020.</span>
  <span class="ml-auto">Powered by <a href="#">A3 Transtech</a></span>
</app-footer>