<div class="profile-heading">
    {{currentUser?.companyName}}
</div>
<div *ngIf="!imageEdit">
    <div class="profile-pic">
        <img class="profile-img" [src]="croppedImage" />
        <div class="text-muted font-weight-bold">
            {{currentUser?.accessLevel}}
        </div>
        <div class="overlay-pic">
            <a style="cursor: pointer;" (click)="editPic()"><i class="icon-camera"></i></a>
        </div>
    </div>
</div>
<div *ngIf="imageEdit">
    <div class="profile-pic">
        <img class="profile-img" [src]="croppedImage || currentUser?.profilePicture" />
    </div>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"></image-cropper>

    <div class="m-3">
        <div class="input-group ">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04" accept=".png"
                    aria-describedby="inputGroupFileAddon04" (change)="fileChangeEvent($event)">
                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>

            </div>
        </div>
        <div *ngIf="fileError" class="text-danger">
            {{fileError}}
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button (click)="handleUpload()" class="btn btn-primary  btn-block">Upload</button>
            </div>
            <div class="col">
                <button (click)="editPicCancel()" class="btn btn-danger   btn-block">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="profile-heading">
    {{currentUser?.userName}}
</div>
<div class="m-3 profile-edit">

    <div *ngIf="emailForm">
        <form [formGroup]="emailForm">
            <div class="mb-3">
                <label class="col-form-label">Email</label>
                <span *ngIf="!user?.emailVerified" class="badge badge-danger verification-status hover-status" (click)="verifyEmail()">Unverified</span>
                <span *ngIf="user?.emailVerified" class="badge badge-success verification-status">Verified</span>
                <div class="input-group ">
                    <div class="input-group-prepend" *ngIf="!emailFormSubmitted">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{
                        'is-invalid': emailForm.get('email').touched && emailForm.get('email').errors
                      }" [readonly]="emailFormSubmitted" />
                   
                    <div class="input-group-append">
                        <button class="btn " type="button" id="button-addon"
                            [disabled]="emailForm.invalid && !emailFormSubmitted"
                            [ngClass]="{'btn-link':emailForm.invalid || emailFormSubmitted, 'btn-primary':!emailForm.invalid && !emailFormSubmitted}">
                            <i class="icon-pencil" *ngIf="emailFormSubmitted" (click)="editEmail()"></i>
                            <i class="fa fa-save " *ngIf="!emailFormSubmitted" (click)="onSubmitEmailForm()"></i>
                        </button>
                    </div>
                    <div class="input-group-append" *ngIf="!emailFormSubmitted">
                        <button (click)="editEmailCancel()" class="btn btn-danger "><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div *ngIf="emailForm.get('email').touched && emailForm.get('email').errors" class="invalid-feedback">
                    <div *ngIf="emailForm.get('email').errors.required">
                        *Email is required.
                    </div>
                    <div *ngIf="emailForm.get('email').errors.pattern">
                        *Please Provide Valid Email address.
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div *ngIf="phoneForm">
        <form [formGroup]="phoneForm">
            <div class="mb-3">
                <label class="col-form-label">Phone</label>
                <span *ngIf="!user?.phoneVerified" class="badge badge-danger verification-status hover-status" (click)="verifyPhone()">Unverified</span>
                <span *ngIf="user?.phoneVerified" class="badge badge-success verification-status">Verified</span>
                <div class="input-group ">
                    <div class="input-group-prepend" *ngIf="!phoneFormSubmitted">
                        <span class="input-group-text">+91</span>
                    </div>
                    <input type="text" formControlName="phone" class="form-control" placeholder="XXXXXXXXXX"
                        [ngClass]="{
                        'is-invalid': phoneForm.get('phone').touched && phoneForm.get('phone').errors
                      }" [readonly]="phoneFormSubmitted" />

                    <div class="input-group-append">
                        <button class="btn" type="button" id="button-addon2"
                            [ngClass]="{'btn-link':phoneForm.invalid || phoneFormSubmitted, 'btn-primary':!phoneForm.invalid && !phoneFormSubmitted}"
                            [disabled]="phoneForm.invalid && !phoneFormSubmitted">
                            <i class="icon-pencil" *ngIf="phoneFormSubmitted" (click)="editPhone()"></i>
                            <i class="fa fa-save " *ngIf="!phoneFormSubmitted" (click)="onSubmitPhoneForm()"></i>
                        </button>
                    </div>
                    <div class="input-group-append" *ngIf="!phoneFormSubmitted">
                        <button (click)="editPhoneCancel()" class="btn btn-danger "><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div *ngIf="phoneForm.get('phone').touched && phoneForm.get('phone').errors" class="invalid-feedback">
                    <div *ngIf="phoneForm.get('phone').errors.required">
                        *Phone is required.
                    </div>
                    <div *ngIf="phoneForm.get('phone').errors.pattern">
                        *Please Provide Valid Phone Number.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>