.profile-heading{
    height: 40px;
    text-align: center;
    background-color: gray;
    background-color: #EAEDEF;
    font-size: 18px;
    padding: 5px;
}
.profile-pic{
    text-align: center;
    padding: 30px 0;
}
.profile-img{
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 50%;
}